Flask
flask
nltk
indexer
pyspellchecker
pyproject-toml
comtypes
openai
pyttsx3
PyAudio
pywhatkit
requests
SpeechRecognition
spotipy
spacy
en_core_web_sm
tensorflow
wikipedia
scikit-learn==1.2.2
joblib
pickle5
pickle
pyspellchecker
spellchecker